body {
    text-align: left;
}

header {
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
}

nav {
    font-size: 0.8em;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.profile-photo,
.vk-title {
    display: inline-block;
    vertical-align: middle;
}

.profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.vk-title {
    margin-left: 20px;
}